
.banner{
    background-image: url('https://firebasestorage.googleapis.com/v0/b/musicosjcor.appspot.com/o/Background%20Black-Gold.jpg?alt=media&token=1183ecf8-bde1-4ba5-a361-036036e0f670');
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
    position:relative;

    padding: 10% 15% 10% 5%;


}

.banner2{
    background-color: black;
    background-position: top center;
    background-size: cover;

    padding: 5% 10%;
    /*filter: grayscale(100%);*/

}

.container{
    /* background-color: rgba(0,0,0,0.5); */
    border-radius: 1%;
}

