.banner3{
    background-image: url('https://firebasestorage.googleapis.com/v0/b/musicosjcor.appspot.com/o/BackgroundGrey.jpg?alt=media&token=0c6fd375-2370-4f3f-bcca-0ffbdfde42cf');
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 5% 10%;
    /*filter: grayscale(100%);*/

}

.bw{
    filter: grayscale(1);
}


