body{
    background-image: url('https://firebasestorage.googleapis.com/v0/b/musicosjcor.appspot.com/o/BackgroundGrey.jpg?alt=media&token=0c6fd375-2370-4f3f-bcca-0ffbdfde42cf');
}

.carousel{
    width: 90%;
    margin: 0 auto;
    
}
